
.ipynb_checkpoints/Narrative Buer eller Vekstdiagram-checkpoint.ipynb
.ipynb_checkpoints/Narrative Buer eller Vekstdiagram-checkpoint.ipynb
.ipynb_checkpoints/Narrative Buer eller Vekstdiagram-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Narrative Buer eller Vekstdiagram-checkpoint.ipynb
.ipynb_checkpoints/Narrative Buer eller Vekstdiagram-checkpoint.ipynb
.ipynb_checkpoints/Narrative Buer eller Vekstdiagram-checkpoint.ipynb
